# Python environments and others files
.Python
__pycache__
.env
env/
build/
lib/
lib64/

# Scrapy stuff
.scrapy

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Logs
*.log

# Node modules
node_modules

# Images
images

# Serverless
.serverless

# Ionic
**/.idea
**/.ionic
**/.sass-cache
**/.sourcemaps
**/.versions
**/.vscode
**/coverage
**/dist
**/node_modules
**/platforms
**/plugins
**/www

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
**.DS_Store
**Thumbs.db
**UserInterfaceState.xcuserstate
**$RECYCLE.BIN/
